html {
	max-height: 300px;
}

body {
	max-height: 300px;
	margin: 0;
	padding-right: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*a {
	color: black;
	text-decoration: none;
}*/

/* Headers */

h1 {
	margin-top: 40px;
	margin-bottom: 0;
	text-align: center;
	font-size: 1.5em;
}
h2 {
	font-size: 1.2em;
	margin: 2px 0 2px;
	text-align: center;
}
h3 {
	font-size: 0.7em;
}

hr {
	width: 50%;
}

/* Major divs */

.centered {
	text-align: center;
}

.wrapper {
	position: relative;
	font-family: arial; 
	width: 350px;
	padding-bottom: 5px;
}

.hidden {
	display: none;
}

#add-resource {
	font-size: 0.75em;
	position: absolute;
	right: 1px;
	top: 1px;
	text-decoration: underline;
}

#courses {
	margin-top: 15px;
	clear: both;
}

#header {
	padding: 1px;
}

/* Boxes */

.announcement {
	font-size: 0.8em;
	width: 90%;
/*	background-color: #FFF;*/
/*	border-top: 1px solid black;*/
	padding: 0 5px;
	margin: 0 10px;
}
.announcementInfo {
	font-size: 0.8em;
	color: #999;
}
.short-hr {
	width: 60%;
}


/* Buttons */

.button {
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
	background-color: #0088FF;
    cursor: pointer;
}

.small {
	position: absolute;
	right: 5px;
	font-size: 0.75em;
	font-weight: bold;
}

.mouseover {
	background-color: #5CB3FF;
}

.inactive {
	background-color: #AAA;
}

/* Breadcrumbs */

#breadcrumbs {
	font-size: 0.75em;
	margin: 3px;
/*	position: absolute;*/
}

#breadcrumbs a {
	color: #A10000;
	text-decoration: underline;
	cursor: pointer;
}
